volumeKeyTest

*.rar
PPTCtrlSrcQt/.vs
PPTCtrlSrcQt/x64
*.pro
*.user
*.sln
PPTCtrlSrcQt/MyTcpServer/x64
PPTCtrlSrcQt/MyTcpServer/GeneratedFiles
*.bmp
*.vcxproj.*
*.aps

*.iml
.gradle
/local.properties
.idea
.DS_Store
build
/captures
.externalNativeBuild
gradle